body, html {
	height: 100%;
  margin: 0px;
	padding: 0px;
	overflow-x: hidden;


  transition: background-color .5s;
  background-image: url(../bilder/background/bckgrnd3.jpg);
  background-size: cover;
  background-position: center;
}

* {
	font-family: "Lato", sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	color: white;
}

background-img {
	filter:blur();
}

span {
  color:red;
}

.support {
	font-family: "Lato", sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	color: black;
}

h2 {
  text-align: center;
  border-radius:10px 10px 0 0;
  margin:-10px -40px;
  padding: 32px;
}

hr {
  border:0;
  border-bottom: 1px solid;
  margin: 10px -40px;
  margin-bottom: 30px;
}

.kontaktformular {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #eee;
  padding: 10px 40px 25px;
  background-color: #333;
}

input[type=text],input[type=email] {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #fff;
  padding-left: 5px;
  font-size: 20px;
  background-color: #999;
}

textarea[class=betreff_sup_input] {
	width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #fff;
  padding-left: 5px;
  font-size: 20px;
  background-color: #999;
	resize: none;
}

textarea[class=nachricht_input] {
	width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #fff;
  padding-left: 5px;
  font-size: 20px;
  background-color: #999;
	resize: none;
}

button[type=submit] {
  font-weight: 550;
  width: 70%;
  background-color: #1d1;
  color: #fff;
  border: 1px solid #1d1;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

a {
  color: #6495ed;
}

i {
  color: #6495ed;
}

.zurueck {
  float: right;
  text-align: center;
  width: 20%;
  background-color: #d11;
  color: #fff;
  border: 1px solid #d11;
  padding: 1.75px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.homeicon {
  width: 25px;
  margin: 7.25px;
}


/* DankePage */
.danke_div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #eee;
  padding: 10px 40px 0px;
  background-color: #333;
}

.successimg {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	padding: 20px;
}

.danke_content {
	text-align: center;
	padding: 5px 35px 5px 35px;
	font-size: 22px;
}

.infotext {
	font-size: 15px;
	text-align: center;
	padding: 10px 5px 0px 5px;
	margin-bottom: -10px;
}
